# List

In [23]:
friends = ['Siddharth','Gaurav','Saptrashi','Pallavi','Jhilik','Ankita']
print(friends)
print(friends[1])
print(friends[3])
print(friends[-2])
print(friends[-len(friends)])
print(friends[-4])
print(friends[-1])

['Siddharth', 'Gaurav', 'Saptrashi', 'Pallavi', 'Jhilik', 'Ankita']
Gaurav
Pallavi
Jhilik
Siddharth
Saptrashi
Ankita

In [24]:
print(friends[0:6])
print(friends[4:])
print(friends[:3])

['Siddharth', 'Gaurav', 'Saptrashi', 'Pallavi', 'Jhilik', 'Ankita']
['Jhilik', 'Ankita']
['Siddharth', 'Gaurav', 'Saptrashi']

In [25]:
friends[1] = 'Gobar'
print(friends)

['Siddharth', 'Gobar', 'Saptrashi', 'Pallavi', 'Jhilik', 'Ankita']

In [26]:
friends[1:2] = 'Added'  # this happen becaurse it treated string as an array that's why it seperate all index and assign while silicng
print(friends)

['Siddharth', 'A', 'd', 'd', 'e', 'd', 'Saptrashi', 'Pallavi', 'Jhilik', 'Ankita']

In [27]:
friends[1:2] = ['Added']  # we can resolve that problem just by putting them in []
print(friends)

['Siddharth', 'Added', 'd', 'd', 'e', 'd', 'Saptrashi', 'Pallavi', 'Jhilik', 'Ankita']

In [28]:
friends[1:3] = ['Added' , 'Something']  # we can resolve that problem just by putting them in []
print(friends)

['Siddharth', 'Added', 'Something', 'd', 'e', 'd', 'Saptrashi', 'Pallavi', 'Jhilik', 'Ankita']

In [29]:
fruits = ['Orange', 'Pineapple','Lichi','Goauva','Pomigranate']
fruits

['Orange', 'Pineapple', 'Lichi', 'Goauva', 'Pomigranate']

In [30]:
print(fruits[1:1])
fruits[1:1] = ['test','test']
print(fruits)

[]
['Orange', 'test', 'test', 'Pineapple', 'Lichi', 'Goauva', 'Pomigranate']

In [31]:
print(fruits[1:2])
print(fruits[1:3])

['test']
['test', 'test']

In [ ]:
fruits[1:3] = []
print(fruits)

['Orange', 'Pineapple', 'Lichi', 'Goauva', 'Pomigranate']

In [40]:
fruits.append('lemon')
fruits

['Orange', 'Pineapple', 'Goauva', 'Pomigranate', 'lemon', 'lemon']

In [41]:
fruits.pop()

'lemon'

In [43]:
fruits.remove("lemon")
fruits

['Orange', 'Pineapple', 'Goauva', 'Pomigranate']

In [45]:
fruits.insert(2,'lemon')
fruits

['Orange', 'Pineapple', 'lemon', 'Goauva', 'Pomigranate']

### list comprehension

In [1]:
var = [x ** 2 for x in range(10)]
print(var)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]